html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* sidebar styles */
.nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* sidebar links */
.nav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/*  color on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* content style */
.content {
  margin-left: 200px;
  padding-left: 20px;
}